.home-page {
  padding-top: 50px;
}

.welcome-card {
  background-image: url('../../assets/online-learning.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.welcome-card .card-body {
  background-color: rgba(232, 210, 210, 0); /* Optional: To make text more readable */
}

.course-card img {
  height: 200px;
  object-fit: cover;
}
